import Wzp{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Wzp{{properCase name}}',
  component: Wzp{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Wzp{{properCase name}} },
  template: `
    <div>
      <wzp-{{name}}></wzp-{{name}}>
    </div>
  `
})